body {
    font-family: Arial, sans-serif;
    background-color: oklab(95.44399999999999% 0.00308 0.00085);
    margin: 0;
    padding: 0;
}
.main{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.main-heading {
    color: black;
    text-align: center;
    margin-top: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
    
 
}
.todo-input, .todo-date {
    padding: 10px 5px;
    font-size: 16px;
}
.btn-delete {
    background-color: saddlebrown;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}
.btn-delete:hover {
    background-color: brown;
}
.btn-todo{
    height: 45px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    /* border-radius: 10px; */
    padding: 5px 10px;
    cursor: pointer;
}
.btn-todo:hover {
    background-color: darkgreen;
}
    
